* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #E5E5E5;
}

.App {
  max-width: 550px;
  margin: 0 auto;
  background-color: white;
  padding-bottom: 50px;
}

.nav {
  padding: 22px 30px;
  box-shadow: 0px 2.9825px 7.456px rgba(0, 0, 0, 0.1);
}

.hero {
  padding-top: 26px;
}

.img {
  text-align: center;
}

.heading {
  padding-left: 36px;
  padding-top: 32px;
}

.heading h1 {
  font-size: 36px;
}

.heading p {
  font-size: 16px;
  max-width: 320px;
  padding-top: 16px;
}

.cards {
  display: flex;
  gap: 18px;
  padding: 50px 0px;
  overflow-x: scroll;
  padding-bottom: 0;
  scrollbar-width: thin;
  margin: 0 37px;
}


.card {
  position: relative;
  min-width: 178px;
}

.tag {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px;
  width: 60px;
  text-align: center;
  border-radius: 2px;
  font-size: 10px;
}

.details {
  font-size: 12px;
}

.grey {
  color: #918E9B;
}

.bold-text {
  font-weight: 600;
}